.header {
	margin: 0 auto;
	max-width: 600px;
	flex: 1;
	text-align: center;
}
.headerTitle {
	font-family: var(--font-jersey-25);
	font-size: 4.5em;
	margin: 0.4em;
	color: #fbf1f1;
	text-shadow: 3px 3px 2px #0000002e;
	span {
		margin-top: -26px;
		display: block;
		font-size: 0.3em;
		font-weight: 400;
	}
}

.websitetop {
	background: #8fb8ea;
	min-height: 100px;
}

.waterline {
	height: 215px;
	margin-top: -60px;
	overflow: hidden;
	background: url(/Ocean.png) 0% 0% repeat-x;
}
