.header {
	margin: 0 auto;
	max-width: 600px;
	flex: 1;
	text-align: center;
	z-index: 10;
}

.headerTitle {
	font-family: var(--font-jersey-25);
	font-size: 4.5em;
	margin: 0.4em;
	color: #fbf1f1;
	text-shadow: 3px 3px 2px #0000002e;
	span {
		margin-top: -26px;
		display: block;
		font-size: 0.3em;
		font-weight: 400;
	}
}

.websitetop {
	position: relative;
	background: transparent;
	min-height: 100px;
	overflow: hidden;
	z-index: 1;
}
