.meta {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--text-secondary);
	font-size: 0.8em;
}

.readTime::before {
	content: "·";
	margin-right: 0.5rem;
}

.heading {
	margin-bottom: 1rem;
	font-size: 2em;
}

.readMore {
	margin-left: 0.5rem;
}
