.footer {
	background: #181818;
	color: #a0a0a0;
	display: flex;
	flex: 0;
	padding: 2rem 1rem;
	border-top: 1px solid #271f22;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
	gap: 2rem;
	flex-direction: column;
}

.links {
	display: flex;
	gap: 1.5rem;
	align-items: center;
}

.links a {
	color: #a0a0a0;
	text-decoration: none;
	transition: color 0.2s;
	font-size: 1.5rem;
	display: flex;
	align-items: center;
}

.links a:hover {
	color: #fff;
}

.copyright {
	color: #a0a0a0;
	font-size: 0.6875rem;
}

@media (max-width: 640px) {
	.footer {
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	.links {
		gap: 1rem;
	}
}
