.footer {
	background: #181818;
	color: #a0a0a0;
	display: flex;
	flex: 0;
	padding: 2rem 0;
	border-top: 1px solid #271f22;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1;
}

.footer a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}
