{% extends '_master.html' %}

{% block title %}{% endblock %}

{% block content %}
	{{ contents | safe }}

	<h2>List of awesome blogposts:</h2>

	{% for post in water('collection').get('posts') -%}
		<article class="post" itemscope="" itemtype="http://schema.org/BlogPosting" role="article">
			<h1><a href="{{ post.meta.link }}">{{ post.data.title }}</a></h1>
			<time datetime="{{ post.data.date | date('Y-m-d') }}">{{ post.data.date | date('Y-m-d') }}</time>
			<p itemprop="description">
				{{ post.excerpt }} <a class="read-more" href="{{ post.meta.link }}">»</a>
			</p>
		</article>
	{%- endfor %}

{% endblock %}
