{% extends '_master.html' %}

{% block title %}{% endblock %}

{% block content %}
	<article class="article">
		{% if topImage %}<img src="{{ topImage }}">{% endif %}
		<div class="article__content">
			<header class="article__header">
				<h1 itemprop="headline">{{ title }}</h1>
				<h3>{{ subtitle }}</h3>
				<div class="article__header__metadata">
					<time itemprop="datePublished" datetime="{{ date | date('YYYY-mm-dd') }}"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ date | date('Y-m-d') }}</time>
				</div>
			</header>

			{{ contents | safe }}

			<footer class="article__footer">
				{% include "./comments.html" %}
			</footer>
		</div>
	</article>
{% endblock %}
