.page {
	min-height: 100vh;
	background: #8fb8ea;
	display: flex;
	flex-direction: column;
}

.content {
	margin: 0 auto;
	max-width: 690px;
	flex: 1;
}

.main {
	background: #5e7eb5;
	background: rgb(94, 126, 181);
	background: rgb(94, 126, 181);
	background: linear-gradient(
		180deg,
		rgba(94, 126, 181, 1) 0%,
		rgb(59, 93, 151) 50px,
		rgba(74, 99, 139, 1) calc(100% - 100px),
		rgba(55, 63, 78, 0.66) 100%
	);

	padding: 2rem;
	flex: 1;
	color: #fbf1f1;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title a {
	color: #0070f3;
	text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
	text-decoration: underline;
}

.title {
	margin: 0;
	line-height: 1.15;
	font-size: 3.5em;
}

.title,
.description {
	text-align: center;
}

.description {
	margin: 4rem 0;
	line-height: 1.5;
	font-size: 1.5rem;
}

.grid {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
}

.logo {
	height: 1em;
	margin-left: 0.5rem;
}
